<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <a href="/api/v1/employees/new" class="button">Registrar Nuevo Empleado</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Cargo</th>
                <th>Fecha de Contratación</th>
                <th>Salario</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.user.name}"></td>
                <td th:text="${employee.departmentId}"></td>
                <td th:text="${employee.position}"></td>
                <td th:text="${#dates.format(employee.hireDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${employee.salary}"></td>
                <td th:text="${employee.status}"></td>
                <td>
                    <a th:href="@{/employees/{id}(id=${employee.id})}" class="button">Ver</a>
                    <a th:href="@{/employees/edit/{id}(id=${employee.id})}" class="button" style="background-color: #ffa500;">Editar</a>
                    <a th:href="@{/employees/delete/{id}(id=${employee.id})}" class="button" style="background-color: #f44336;">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>